.profile__info {
    display: grid;
    column-gap: 18px;
    row-gap: 5px;
    align-items: baseline;
}

@media screen and (max-width: 680px) {
    .profile__info {
        flex-direction: column;
        row-gap: 14px;
        column-gap: 10px;
    }
}