.page__content {
    padding: 0 auto;
    margin-top: 36.25px;
    margin-bottom: 67px;
}

@media screen and (max-width: 680px) {
    .page__content {
        margin-top: 38.25px;
        margin-bottom: 48px;
    }
}