.profile__title {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 48px;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 680px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: text-top;
        transform: translateX(15px);
    }
}